.ul-div{
    background-color: rgb(128, 202, 177);
    /* border: 2px solid black; */
    font-size: larger;
    font-weight: 900;
    color: blue;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 8px;
    /* color: antiquewhite; */
}